In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('online_sales_dataset.csv')
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Discount,PaymentMethod,ShippingCost,Category,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority
0,221958,SKU_1964,White Mug,38,2020-01-01 00:00,1.71,37039.0,Australia,0.470000,Bank Transfer,10.79,Apparel,In-store,Not Returned,UPS,London,Medium
1,771155,SKU_1241,White Mug,18,2020-01-01 01:00,41.25,19144.0,Spain,0.190000,paypall,9.51,Electronics,Online,Not Returned,UPS,Rome,Medium
2,231932,SKU_1501,Headphones,49,2020-01-01 02:00,29.11,50472.0,Germany,0.350000,Bank Transfer,23.03,Electronics,Online,Returned,UPS,Berlin,High
3,465838,SKU_1760,Desk Lamp,14,2020-01-01 03:00,76.68,96586.0,Netherlands,0.140000,paypall,11.08,Accessories,Online,Not Returned,Royal Mail,Rome,Low
4,359178,SKU_1386,USB Cable,-30,2020-01-01 04:00,-68.11,NaN,United Kingdom,1.501433,Bank Transfer,NaN,Electronics,In-store,Not Returned,FedEx,NaN,Medium
5,744167,SKU_1006,Office Chair,47,2020-01-01 05:00,70.16,53887.0,Sweden,0.480000,Credit Card,13.98,Electronics,Online,Not Returned,DHL,London,Medium
6,210268,SKU_1087,USB Cable,25,2020-01-01 06:00,85.74,46567.0,Belgium,0.150000,Bank Transfer,12.92,Stationery,Online,Not Returned,FedEx,Amsterdam,High
7,832180,SKU_1597,Notebook,8,2020-01-01 07:00,95.65,75098.0,Norway,0.040000,Bank Transfer,6.48,Electronics,In-store,Not Returned,Royal Mail,Amsterdam,Low
8,154886,SKU_1907,Wireless Mouse,19,2020-01-01 08:00,98.19,87950.0,Belgium,0.050000,paypall,12.56,Apparel,Online,Not Returned,UPS,Berlin,High
9,237337,SKU_1866,Headphones,40,2020-01-01 09:00,98.17,39718.0,Italy,0.160000,Bank Transfer,7.71,Apparel,Online,Not Returned,Royal Mail,London,Low

In [3]:
df_dict = {
'InvoiceNo':	'A unique identifier for each sales transaction (invoice).',
'StockCode':	'The code representing the product stock-keeping unit (SKU).',
'Description':	'A brief description of the product.',
'Quantity':	'The number of units of the product sold in the transaction.',
'InvoiceDate':	'The date and time when the sale was recorded.',
'UnitPrice':	'The price per unit of the product in the transaction currency.',
'CustomerID':	'A unique identifier for each customer.',
'Country':	'The customers country.',
'Discount':	'The discount applied to the transaction, if any.',
'PaymentMethod':	'The method of payment used for the transaction (e.g., PayPal, Bank Transfer).',
'ShippingCost':	'The cost of shipping for the transaction.',
'Category':	'The category to which the product belongs (e.g., Electronics, Apparel).',
'SalesChannel':	'The channel through which the sale was made (e.g., Online, In-store).',
'ReturnStatus':	'Indicates whether the item was returned or not.',
'ShipmentProvider':	'The provider responsible for delivering the order (e.g., UPS, FedEx).',
'WarehouseLocation':	'The warehouse location from which the order was fulfilled.',
'OrderPriority':	'The priority level of the order (e.g., High, Medium, Low).',
}

df_dict = pd.DataFrame(df_dict.items(), columns=['Column', 'Description'])
# df_dict.to_csv('online_sales_dictionary.csv', index=False)

In [4]:
df_dict

               Column                                        Description
0           InvoiceNo  A unique identifier for each sales transaction...
1           StockCode  The code representing the product stock-keepin...
2         Description                A brief description of the product.
3            Quantity  The number of units of the product sold in the...
4         InvoiceDate      The date and time when the sale was recorded.
5           UnitPrice  The price per unit of the product in the trans...
6          CustomerID             A unique identifier for each customer.
7             Country                             The customers country.
8            Discount   The discount applied to the transaction, if any.
9       PaymentMethod  The method of payment used for the transaction...
10       ShippingCost          The cost of shipping for the transaction.
11           Category  The category to which the product belongs (e.g...
12       SalesChannel  The channel through which the sale was made (e...
13       ReturnStatus    Indicates whether the item was returned or not.
14   ShipmentProvider  The provider responsible for delivering the or...
15  WarehouseLocation  The warehouse location from which the order wa...
16      OrderPriority  The priority level of the order (e.g., High, M...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49782 entries, 0 to 49781
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          49782 non-null  int64
 1   StockCode          49782 non-null  object
 2   Description        49782 non-null  object
 3   Quantity           49782 non-null  int64
 4   InvoiceDate        49782 non-null  object
 5   UnitPrice          49782 non-null  float64
 6   CustomerID         44804 non-null  float64
 7   Country            49782 non-null  object
 8   Discount           49782 non-null  float64
 9   PaymentMethod      49782 non-null  object
 10  ShippingCost       47293 non-null  float64
 11  Category           49782 non-null  object
 12  SalesChannel       49782 non-null  object
 13  ReturnStatus       49782 non-null  object
 14  ShipmentProvider   49782 non-null  object
 15  WarehouseLocation  46297 non-null  object
 16  OrderPriority      49782 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 6.5+ MB

In [6]:
df.isna().sum()

InvoiceNo               0
StockCode               0
Description             0
Quantity                0
InvoiceDate             0
UnitPrice               0
CustomerID           4978
Country                 0
Discount                0
PaymentMethod           0
ShippingCost         2489
Category                0
SalesChannel            0
ReturnStatus            0
ShipmentProvider        0
WarehouseLocation    3485
OrderPriority           0
dtype: int64

In [7]:
df.describe()

,InvoiceNo,Quantity,UnitPrice,CustomerID,Discount,ShippingCost
count,49782.000000,49782.000000,49782.000000,44804.000000,49782.000000,47293.000000
mean,550681.239946,22.372343,47.537862,55032.871775,0.275748,17.494529
std,260703.009944,17.917774,33.479510,25913.660157,0.230077,7.220557
min,100005.000000,-50.000000,-99.980000,10001.000000,0.000000,5.000000
25%,324543.000000,11.000000,23.592500,32750.750000,0.130000,11.220000
50%,552244.000000,23.000000,48.920000,55165.000000,0.260000,17.500000
75%,776364.000000,37.000000,74.610000,77306.250000,0.380000,23.720000
max,999997.000000,49.000000,100.000000,99998.000000,1.999764,30.000000

In [8]:
df['ShippingCost'] = df['ShippingCost'].fillna(0)
df['WarehouseLocation'] = df['WarehouseLocation'].fillna('No Warehouse')
df.drop(columns=['CustomerID'], inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49782 entries, 0 to 49781
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          49782 non-null  int64
 1   StockCode          49782 non-null  object
 2   Description        49782 non-null  object
 3   Quantity           49782 non-null  int64
 4   InvoiceDate        49782 non-null  object
 5   UnitPrice          49782 non-null  float64
 6   Country            49782 non-null  object
 7   Discount           49782 non-null  float64
 8   PaymentMethod      49782 non-null  object
 9   ShippingCost       49782 non-null  float64
 10  Category           49782 non-null  object
 11  SalesChannel       49782 non-null  object
 12  ReturnStatus       49782 non-null  object
 13  ShipmentProvider   49782 non-null  object
 14  WarehouseLocation  49782 non-null  object
 15  OrderPriority      49782 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 6.1+ MB

In [10]:
df[df['Quantity'] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Discount,PaymentMethod,ShippingCost,Category,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority
4,359178,SKU_1386,USB Cable,-30,2020-01-01 04:00,-68.11,United Kingdom,1.501433,Bank Transfer,0.0,Electronics,In-store,Not Returned,FedEx,No Warehouse,Medium
144,451279,SKU_1617,Wall Clock,-2,2020-01-07 00:00,34.06,Spain,0.340000,Credit Card,0.0,Furniture,Online,Not Returned,DHL,No Warehouse,Medium
147,747972,SKU_1514,Desk Lamp,-26,2020-01-07 03:00,-72.33,Netherlands,1.972087,paypall,0.0,Electronics,In-store,Not Returned,Royal Mail,No Warehouse,Low
167,318969,SKU_1115,Desk Lamp,-19,2020-01-07 23:00,-3.61,Italy,1.052254,Credit Card,0.0,Apparel,In-store,Not Returned,UPS,No Warehouse,High
176,285340,SKU_1710,Blue Pen,-3,2020-01-08 08:00,85.95,Netherlands,0.260000,Credit Card,0.0,Accessories,In-store,Not Returned,UPS,No Warehouse,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49730,487771,SKU_1083,Wall Clock,-7,2025-09-03 02:00,-57.31,United Kingdom,1.139869,paypall,0.0,Accessories,Online,Not Returned,DHL,No Warehouse,Low
49739,106493,SKU_1736,Desk Lamp,-40,2025-09-03 11:00,-51.34,Netherlands,0.230000,Bank Transfer,0.0,Accessories,In-store,Not Returned,FedEx,No Warehouse,Medium
49749,540459,SKU_1405,White Mug,-36,2025-09-03 21:00,12.21,Portugal,0.290000,paypall,0.0,Stationery,Online,Not Returned,UPS,No Warehouse,High
49760,726763,SKU_1273,White Mug,-34,2025-09-04 08:00,10.34,France,0.350000,Credit Card,0.0,Furniture,Online,Not Returned,DHL,No Warehouse,High
49770,625657,SKU_1628,Office Chair,-30,2025-09-04 18:00,16.82,France,0.340000,Credit Card,0.0,Electronics,Online,Not Returned,DHL,No Warehouse,Low

In [11]:
df[df['UnitPrice'] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Discount,PaymentMethod,ShippingCost,Category,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority
4,359178,SKU_1386,USB Cable,-30,2020-01-01 04:00,-68.11,United Kingdom,1.501433,Bank Transfer,0.0,Electronics,In-store,Not Returned,FedEx,No Warehouse,Medium
147,747972,SKU_1514,Desk Lamp,-26,2020-01-07 03:00,-72.33,Netherlands,1.972087,paypall,0.0,Electronics,In-store,Not Returned,Royal Mail,No Warehouse,Low
167,318969,SKU_1115,Desk Lamp,-19,2020-01-07 23:00,-3.61,Italy,1.052254,Credit Card,0.0,Apparel,In-store,Not Returned,UPS,No Warehouse,High
199,867595,SKU_1343,White Mug,-2,2020-01-09 07:00,-96.08,Portugal,1.702088,Bank Transfer,0.0,Accessories,Online,Not Returned,FedEx,No Warehouse,Low
262,937291,SKU_1936,Wall Clock,-16,2020-01-11 22:00,-73.60,Germany,1.535440,Credit Card,0.0,Electronics,Online,Not Returned,DHL,No Warehouse,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49691,553510,SKU_1943,T-shirt,-4,2025-09-01 11:00,-74.57,France,1.306613,Credit Card,0.0,Stationery,Online,Not Returned,Royal Mail,No Warehouse,Low
49695,855821,SKU_1500,Wireless Mouse,-11,2025-09-01 15:00,-18.88,Portugal,1.569082,Bank Transfer,0.0,Furniture,In-store,Not Returned,FedEx,No Warehouse,Low
49718,745888,SKU_1224,T-shirt,-2,2025-09-02 14:00,-84.25,United States,1.420665,Bank Transfer,0.0,Accessories,In-store,Not Returned,Royal Mail,No Warehouse,Medium
49730,487771,SKU_1083,Wall Clock,-7,2025-09-03 02:00,-57.31,United Kingdom,1.139869,paypall,0.0,Accessories,Online,Not Returned,DHL,No Warehouse,Low
49739,106493,SKU_1736,Desk Lamp,-40,2025-09-03 11:00,-51.34,Netherlands,0.230000,Bank Transfer,0.0,Accessories,In-store,Not Returned,FedEx,No Warehouse,Medium

In [12]:
df['UnitPrice'] = df['UnitPrice'].apply(lambda x: abs(x))
df['Quantity'] = df['Quantity'].apply(lambda x: abs(x))

In [13]:
df['SalesAmount'] = df['Quantity'] * df['UnitPrice']
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Discount,PaymentMethod,ShippingCost,Category,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority,SalesAmount
0,221958,SKU_1964,White Mug,38,2020-01-01 00:00,1.71,Australia,0.470000,Bank Transfer,10.79,Apparel,In-store,Not Returned,UPS,London,Medium,64.98
1,771155,SKU_1241,White Mug,18,2020-01-01 01:00,41.25,Spain,0.190000,paypall,9.51,Electronics,Online,Not Returned,UPS,Rome,Medium,742.50
2,231932,SKU_1501,Headphones,49,2020-01-01 02:00,29.11,Germany,0.350000,Bank Transfer,23.03,Electronics,Online,Returned,UPS,Berlin,High,1426.39
3,465838,SKU_1760,Desk Lamp,14,2020-01-01 03:00,76.68,Netherlands,0.140000,paypall,11.08,Accessories,Online,Not Returned,Royal Mail,Rome,Low,1073.52
4,359178,SKU_1386,USB Cable,30,2020-01-01 04:00,68.11,United Kingdom,1.501433,Bank Transfer,0.00,Electronics,In-store,Not Returned,FedEx,No Warehouse,Medium,2043.30

In [14]:
df['TotalDiscounts'] = df['SalesAmount'] * df['Discount']
df['TotalSales'] = df['SalesAmount'] - df['TotalDiscounts'] + df['ShippingCost']

In [15]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['Year'] = df['InvoiceDate'].dt.year
df['Quarter'] = df['InvoiceDate'].dt.quarter
df['Month'] = df['InvoiceDate'].dt.month
df['Day'] = df['InvoiceDate'].dt.day

In [16]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Discount,PaymentMethod,ShippingCost,...,ShipmentProvider,WarehouseLocation,OrderPriority,SalesAmount,TotalDiscounts,TotalSales,Year,Quarter,Month,Day
0,221958,SKU_1964,White Mug,38,2020-01-01 00:00:00,1.71,Australia,0.470000,Bank Transfer,10.79,...,UPS,London,Medium,64.98,30.540600,45.229400,2020,1,1,1
1,771155,SKU_1241,White Mug,18,2020-01-01 01:00:00,41.25,Spain,0.190000,paypall,9.51,...,UPS,Rome,Medium,742.50,141.075000,610.935000,2020,1,1,1
2,231932,SKU_1501,Headphones,49,2020-01-01 02:00:00,29.11,Germany,0.350000,Bank Transfer,23.03,...,UPS,Berlin,High,1426.39,499.236500,950.183500,2020,1,1,1
3,465838,SKU_1760,Desk Lamp,14,2020-01-01 03:00:00,76.68,Netherlands,0.140000,paypall,11.08,...,Royal Mail,Rome,Low,1073.52,150.292800,934.307200,2020,1,1,1
4,359178,SKU_1386,USB Cable,30,2020-01-01 04:00:00,68.11,United Kingdom,1.501433,Bank Transfer,0.00,...,FedEx,No Warehouse,Medium,2043.30,3067.878137,-1024.578137,2020,1,1,1

In [17]:
# df.to_csv('online_sales_cleaned.csv', index=False)